GEMINI_API_KEY = Use your own key here

# Below url are the correct url for the project use can use them as it is

APP_DB_URI = postgresql+asyncpg://app:password@app-db:5432/app_db
AGENT_DB_URI = postgresql://agent:password@agent-db:5432/agent_db